@font-face {
    font-family: "FZZHJW";
    src: url("../fonts/FZZHJW.eot"); /* IE9 */
    src: url("../fonts/FZZHJW.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/FZZHJW.woff") format("woff"), /* chrome、firefox */
    url("../fonts/FZZHJW.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */
    url("../fonts/FZZHJW.svg#FZZHJW") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}

.nowhmcs body {
	font-family: 'HanHei SC', 'PingFang SC', 'Microsoft Yahei', 'Helvetica Neue', 'Helvetica', 'STHeitiSC-Light', Raleway, Verdana, Tahoma, serif;
}
.nowhmcs header.homepage {
    background: transparent;
    background-image: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
.nowhmcs header {
	background-image: none;
	background-color: #181818;
}
.left-menu .header .navbar-brand {
	border: none;
}
.login .navbar-brand {
	margin-left: auto;
	margin-right: auto;
}
.login .navbar-brand,
.left-menu .header .navbar-brand,
footer .navbar-brand,
.nav-home .navbar-brand {
	background-image: url('../img/logo.png');
    text-indent: -999em;
    background-size: 100%;
    width: 150px;
    padding: 0;
    height: 40px;
    margin-top: 15px;
}
.nowhmcs .slider {
	height: 500px;
	color: #FFF;
}
.nowhmcs .slider ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.nowhmcs .slider .hero {
	position: absolute;
	top: 26%;
}
.nowhmcs .slider .hero h2 {
	font-size: 56px;
	font-family: "FZZHJW";
}
.nowhmcs .slider .hero h3 {
	font-family: "FZZHJW";
}
.nowhmcs .slider .hero .btn-border {
	font-size: 20px;
    color: #fff;
    border: 1px solid #fff;
    height: 43px;
    line-height: 43px;
    display: inline-block;
    text-align: center;
    border-radius: 2px;
    padding: 0 30px;
    margin-top: 60px;
}
.gray {
	background-color: #F2F2F2;
}
.dark {
    border: none;
    background: #303C46;
    background: linear-gradient(225deg, #39444d , #22292e 88%);
    background-image: -ms-linear-gradient(225deg, #39444d , #22292e 88%);
    background-image: -moz-linear-gradient(225deg, #39444d , #22292e 88%);
    background-image: -o-linear-gradient(225deg, #39444d , #22292e 88%);
    background-image: -webkit-linear-gradient(225deg, #39444d , #22292e 88%);
    background-image: linear-gradient(225deg, #39444d , #22292e 88%);
}
.nowhmcs .announcements {
	padding: 0;
    position: absolute;
    bottom: 2px;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: transparent;
}
.nowhmcs .announcements ul {
	width: 100%;
}
.nowhmcs .announcements ul li {
	width: 33.333%;
	overflow: hidden;
	height: 18px;
}
.nowhmcs .announcements a {
	color: #FFF;
}
/**
 * Base slidizle styling :
 */
/* line 4, ../sass/_slidizle.scss */
.slidizle {
  position: relative;
  overflow: hidden; }

/* line 8, ../sass/_slidizle.scss */
.slidizle-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/* line 13, ../sass/_slidizle.scss */
.slidizle-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: 50% 50%;
  display: none; }
  /* line 21, ../sass/_slidizle.scss */
  .slidizle-slide.active {
    display: block; }

/* line 25, ../sass/_slidizle.scss */
.slidizle-navigation {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 10; }
  /* line 32, ../sass/_slidizle.scss */
  .slidizle-navigation li {
    display: inline-block;
    width: 25px;
    height: 5px;
    background: white;
    opacity: .2;
    font-size: 1px;
    text-indent: -99999px;
    margin: 0 2px;
    cursor: pointer;
    -moz-transition: opacity 0.2s ease-in-out 0s;
    -o-transition: opacity 0.2s ease-in-out 0s;
    -webkit-transition: opacity 0.2s ease-in-out;
    -webkit-transition-delay: 0s;
    transition: opacity 0.2s ease-in-out 0s; }
    /* line 44, ../sass/_slidizle.scss */
    .slidizle-navigation li:hover, .slidizle-navigation li.active {
      opacity: 1; }

/* line 50, ../sass/_slidizle.scss */
.slidizle-next,
.slidizle-previous {
  color: white;
  font-size: 30px;
  position: absolute;
  top: 50%;
  z-index: 30;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;
  opacity: 1;
  -moz-transition: opacity 0.2s ease-in-out 0s;
  -o-transition: opacity 0.2s ease-in-out 0s;
  -webkit-transition: opacity 0.2s ease-in-out;
  -webkit-transition-delay: 0s;
  transition: opacity 0.2s ease-in-out 0s; }
  /* line 62, ../sass/_slidizle.scss */
  .slidizle-next.disabled,
  .slidizle-previous.disabled {
    opacity: .2;
    cursor: default; }

/* line 67, ../sass/_slidizle.scss */
.slidizle-next {
  right: 30px; }

/* line 70, ../sass/_slidizle.scss */
.slidizle-previous {
  left: 30px; }

/* line 74, ../sass/_slidizle.scss */
.slidizle-loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #333 url("../img/loader.gif") no-repeat 50% 82%;
  opacity: 0;
  pointer-events: none;
  -moz-transition: opacity 0.2s ease-in-out 0s;
  -o-transition: opacity 0.2s ease-in-out 0s;
  -webkit-transition: opacity 0.2s ease-in-out;
  -webkit-transition-delay: 0s;
  transition: opacity 0.2s ease-in-out 0s; }
  /* line 83, ../sass/_slidizle.scss */
  .loading .slidizle-loading {
    opacity: .8;
    pointer-events: auto; }

/**
 * Slider progressbar
 */
/* line 64, ../sass/style.scss */
.slider-progressbar {
  height: 5px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #fbd665;
  z-index: 20; }

/**
 * Animated slider
 */
/* line 79, ../sass/style.scss */
.slider--animated .slidizle-content > .active ~ .slidizle-slide {
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%); }
/* line 84, ../sass/style.scss */
.slider--animated .slidizle-slide {
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -moz-transition: -moz-transform 0.5s ease-in-out 0s;
  -o-transition: -o-transform 0.5s ease-in-out 0s;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  -webkit-transition-delay: 0s;
  transition: transform 0.5s ease-in-out 0s;
  display: block !important; }
  /* line 89, ../sass/style.scss */
  .slider--animated .slidizle-slide.active {
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
    z-index: 2; }

/* line 98, ../sass/style.scss */
.slider--animated-up-down .slidizle-content > .active ~ .slidizle-slide {
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -webkit-transform: translateY(100%);
  transform: translateY(100%); }
/* line 103, ../sass/style.scss */
.slider--animated-up-down .slidizle-slide {
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  -moz-transition: -moz-transform 0.5s ease-in-out 0s;
  -o-transition: -o-transform 0.5s ease-in-out 0s;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  -webkit-transition-delay: 0s;
  transition: transform 0.5s ease-in-out 0s;
  display: block !important; }
  /* line 108, ../sass/style.scss */
  .slider--animated-up-down .slidizle-slide.active {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
    z-index: 2; }

/**
 * Custom navigation :
 */
/* line 119, ../sass/style.scss */
.slidizle-navigation .slider-navigation-item {
  width: 50px;
  height: 30px;
  background-size: cover;
  background-position: 50% 50%;
  border: 2px solid white; }

.nav-home:after {
	display: none;
}
.title-head,
.home-features p,
.home-questions p,
.home-features h3 {
	color: #47525d;
}
svg.theme-gray path {
	fill: #4F5B79;
}
.nav-home .navbar-nav>li>a {
    color: #e4e7ed;
}
.nav-home .navbar-nav>li>a:hover {
	color: #FFF;
}
.nav-home .navbar-nav a.btn-border,
.nav-home .navbar-nav>.open>a {
	color: #e4e7ed !important;
	border-color: #e4e7ed !important;
}
.nav-home .navbar-nav .btn-border:hover,
.nav-home .navbar-nav>.open>a:focus,
.nav-home .navbar-nav>.open>a:hover {
	color: #FFF !important;
	border-color: #FFF !important;	
}
.pricing2 {
    background: #1B222C;
}
.pricing2 .section--top .container {
	border-top: 0;
}
.pricing2 .product .panel--price .price {
	width: 100%;
}

.locations {
	padding-top: 80px;
	padding-bottom: 150px;
}
.location-map {
    position: relative;
}
.location-map .map {
    background: url(../img/map.svg) no-repeat center center;
    background-size: cover;
}
.location-map .map-grey {
    background: url(../img/map-grey.svg) no-repeat center center;
    background-size: cover;
}
.location-container {
    position: absolute;
    top: 50%;
    left: 50%;
}
.dark .location-map .map {
    opacity: 0.5;
}
.dark .section-title {
    color: #fff;
    margin-top: 25px;
    margin-bottom: 25px;
}
.locations .btm .box {
	display: inline-block;
	color: #FFF;
	text-align: center;
	margin-right: 20px;
}
.locations .btm .box span {
	display: inline-block;
	margin-right: 10px;
}
/* 3.8 Section: Map */
/* 3.8.1 Map: Large */
.location-map-sm {
    height: 260px;
}
.location-map-sm .location-container {
    height: 260px;
    width: 524px;
    margin: -130px 0 0 -262px;
}
.location-map-sm .map {
    height: 260px;
    width: 524px;
}
.location-map-sm .location-name {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all ease .15s;
    transition: all ease .15s;
    -webkit-transform: scale(0.65);
    transform: scale(0.65);
    -webkit-transform-origin: bottom left;
    transform-origin: bottom left;
}
.location-map-sm .location:hover {
    z-index: 1000;
}
.location-map-sm .location:hover .location-name {
    opacity: 1;
    visibility: visible;
    -webkit-transform: scale(1);
    transform: scale(1);
}
@media (max-width: 991px) {
    .location-map-sm {
        height: 170px;
    }
    .location-map-sm .location-container {
        -webkit-transform: scale(0.65);
        transform: scale(0.65);
    }
}
/* 3.8.2 Map: Large */
.location-map-lg .map {
    height: 580px;
    width: 1174px;
}
@media (min-width: 568px) {
    .location-map-lg {
        height: 520px;
    }
    .location-map-lg .location-container {
        height: 580px;
        width: 1174px;
        margin: -290px 0 0 -582px;
    }
    .location-map .actions {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
    }
}
@media (min-width: 568px) and (max-width: 1199px) {
    .location-map-lg {
        height: 450px;
    }
    .location-map-lg .location-container {
        -webkit-transform: scale(0.9);
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -o-transform: scale(0.9);
        transform: scale(0.9);
    }
}
@media (min-width: 568px) and (max-width: 991px) {
    .location-map-lg {
        height: 424px;
    }
    .location-map-lg .location-container {
        -webkit-transform: scale(0.68);
        -moz-transform: scale(0.68);
        -ms-transform: scale(0.68);
        -o-transform: scale(0.68);
        transform: scale(0.68);
    }
}
@media (min-width: 568px) and (max-width: 767px) {
    .location-map-lg {
        height: 290px;
    }
    .location-map-lg .location-container {
        -webkit-transform: scale(0.5);
        -moz-transform: scale(0.5);
        -ms-transform: scale(0.5);
        -o-transform: scale(0.5);
        transform: scale(0.5);
    }
}
@media (max-width: 567px) {
    .location-map-lg .map {
        display: none;
    }
    .location-map-lg .location-container {
        position: inherit;
        top: auto;
        left: auto;
        max-width: 380px;
        margin: 0 auto;
        padding: 25px 0;
    }
    .location-container:after,
    .location-container:before {
        display: block;
        content: "";
        clear: both;
    }
    .location-map-lg .location-map {
        padding: 0 30px;
    }
}
/* 3.8.3 Map: Pin */
.location-pin,
.location-pin:after {
    border-radius: 100%;
    background-color: transparent;
}
.location-pin.run,
.location-pin.run:after {
    background-color: #21c650;
}
.location-pin.plan,
.location-pin.plan:after {
    background-color: #f70;
}
.location-pin.prepare,
.location-pin.prepare:after {
    background-color: #00DEFF;
}
.location-pin {
    position: relative;
    z-index: 999;
    display: block;
    height: 12px;
    width: 12px;
}
.location-pin-lg {
    position: relative;
    display: block;
    height: 20px;
    width: 20px;
}
.location-pin:after {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    content: "";
    height: 22px;
    width: 22px;
    margin: -11px 0 0 -11px;
    -webkit-animation: pulsate 2s linear;
    animation: pulsate 2s linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}
.location-pin-lg:after {
    height: 40px;
    width: 40px;
    margin: -20px 0 0 -20px;
}
.location-map-sm .location {
    height: 8px;
    width: 8px;
    cursor: pointer;
}
.location-map-sm .location-pin {
    height: 8px;
    width: 8px;
}
.location-map-sm .location-pin:after {
    height: 16px;
    width: 16px;
    margin: -8px 0 0 -8px;
}
@-webkit-keyframes pulsate {
    0% {
        -webkit-transform: scale(0);
        opacity: .05;
    }
    20% {
        -webkit-transform: scale(0.7);
        opacity: .1;
    }
    40% {
        -webkit-transform: scale(0.9);
        opacity: .2;
    }
    60% {
        -webkit-transform: scale(1.1);
        opacity: .3;
    }
    100% {
        -webkit-transform: scale(1.4);
        opacity: 0;
    }
}
@keyframes pulsate {
    0% {
        transform: scale(0);
        opacity: .05;
    }
    20% {
        transform: scale(0.7);
        opacity: .1;
    }
    40% {
        transform: scale(0.9);
        opacity: .2;
    }
    60% {
        transform: scale(1.1);
        opacity: .3;
    }
    100% {
        transform: scale(1.4);
        opacity: 0;
    }
}
/* 3.8.3 Map: Locations */
.location {
    position: absolute;
    z-index: 998;
    height: 12px;
    width: 12px;
}
.location-name {
    position: absolute;
    z-index: 999;
    display: block;
    height: 28px;
}
.location-name span {
    display: block;
    height: 28px;
    padding: 0 10px;
    background-color: #1e88e4;
    color: #fff;
    font-size: 14px;
    line-height: 28px;
    white-space: nowrap;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 5px 20px -5px rgba(11, 27, 38, 0.2);
    box-shadow: 0 5px 20px -5px rgba(11, 27, 38, 0.2);
}
.location-name:after {
    position: absolute;
    z-index: -1;
    display: block;
    content: "";
    height: 1px;
    width: 20px;
    background-color: #545a5e;
}
.location-map-grey .location-name:after {
    background-color: #c4cacc;
}
.location-seattle {
    top: 180px;
    left: 150px;
}
.location-seattle .location-name {
    bottom: 44px;
    right: 44px;
}
.location-seattle .location-name:after {
    bottom: -20px;
    right: -49px;
    width: 58px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.location-map-sm .location-seattle {
    top: 84px;
    left: 66px;
}
.location-los-angeles {
    top: 232px;
    left: 160px;
}
.location-los-angeles .location-name {
    top: 78px;
    right: -45px;
}
.location-los-angeles .location-name:after {
    left: 20%;
    top: -70px;
    height: 70px;
    width: 1px;
}
.location-map-sm .location-los-angeles {
    top: 108px;
    left: 70px;
}
.location-korea {
    top: 198px;
    right: 205px;
}
.location-korea .location-name {
    bottom: 76px;
    right: -18px;
}
.location-korea .location-name:after {
    left: 50%;
    bottom: -65px;
    height: 75px;
    width: 1px;
}
.location-map-sm .location-korea {
    top: 89px;
    right: 90px;
}
.location-atlanta {
    top: 234px;
    left: 276px;
}
.location-atlanta .location-name {
    top: -9px;
    left: 110px;
}
.location-atlanta .location-name:after {
    top: 50%;
    left: -100px;
    width: 100px;
}
.location-map-sm .location-atlanta {
    top: 108px;
    left: 126px;
}
.location-sanjose {
    top: 207px;
    left: 145px;
}
.location-sanjose .location-name {
    bottom: 73px;
    left: 73px;
}
.location-sanjose .location-name:after {
    bottom: -32px;
    left: -78px;
    width: 95px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.location-map-sm .location-sanjose {
    top: 93px;
    left: 62px;
}
.location-hongkong {
    top: 255px;
    right: 250px;
}
.location-hongkong .location-name {
    bottom: -50px;
    right: -90px;
}
.location-hongkong .location-name:after {
    left: -35%;
    top: -45px;
    height: 70px;
    width: 1px;
    -webkit-transform: rotate(-240deg);
    transform: rotate(-240deg);
}
.location-map-sm .location-hongkong {
    top: 113px;
    right: 106px;
}
.location-singapore {
    bottom: 220px;
    right: 250px;
}
.location-singapore .location-name {
    bottom: 45px;
    right: 30px;
}
.location-singapore .location-name:after {
    left: 60px;
    top: 12px;
    height: 70px;
    width: 1px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.location-map-sm .location-singapore {
    top: 155px;
    right: 108px;
}
.location-shanghai {
    top: 225px;
    right: 228px;
}
.location-shanghai .location-name {
    bottom: 45px;
    right: 63px;
}
.location-shanghai .location-name:after {
    left: 135%;
    top: -7px;
    height: 100px;
    width: 1px;
    -webkit-transform: rotate(-60deg);
    transform: rotate(-60deg);
}
.location-map-sm .location-shanghai {
    top: 98px;
    right: 100px;
}
.location-paris {
    top: 154px;
    left: 538px;
}
.location-paris .location-name {
    top: 50px;
    left: 50px;
}
.location-paris .location-name:after {
    top: -20px;
    left: -52px;
    width: 65px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.location-map-sm .location-paris {
    top: 70px;
    left: 240px;
}
.location-frankfurt {
    top: 142px;
    left: 562px;
}
.location-frankfurt .location-name {
    top: -9px;
    left: 60px;
}
.location-frankfurt .location-name:after {
    top: 50%;
    left: -60px;
    width: 60px;
}
.location-map-sm .location-frankfurt {
    top: 66px;
    left: 250px;
}
.location-tokyo {
    top: 201px;
    right: 162px;
}
.location-tokyo .location-name {
    bottom: 50px;
    left: 50px;
}
.location-tokyo .location-name:after {
    bottom: -22px;
    left: -58px;
    width: 75px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.location-map-sm .location-tokyo {
    top: 90px;
    right: 72px;
}
.location-sydney {
    bottom: 102px;
    right: 83px;
}
.location-sydney .location-name {
    bottom: 50px;
    left: 50px;
}
.location-sydney .location-name:after {
    bottom: -22px;
    left: -58px;
    width: 75px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.location-map-sm .location-sydney {
    bottom: 44px;
    right: 36px;
}
.location-london .location-name,
.location-seattle.location-name {
    -webkit-transform-origin: bottom right;
    transform-origin: bottom right;
}
.location-silicon-valley .location-name {
    -webkit-transform-origin: top right;
    transform-origin: top right;
}
.location-los-angeles .location-name {
    -webkit-transform-origin: top center;
    transform-origin: top center;
}
.location-korea .location-name {
    -webkit-transform-origin: bottom center;
    transform-origin: bottom center;
}
.location-atlanta .location-name,
.location-frankfurt .location-name {
    -webkit-transform-origin: left center;
    transform-origin: left center;
}
.location-miami .location-name,
.location-paris .location-name {
    -webkit-transform-origin: top left;
    transform-origin: top left;
}
@media (max-width: 1199px) {
    .location-seattle .location-name {
        bottom: 54px;
        right: -26px;
    }
    .location-tokyo .location-name {
        left: auto;
        right: 50px;
    }
    .location-sydney .location-name {
        left: auto;
        right: 50px;
    }
    .location-tokyo .location-name:after,
    .location-sydney .location-name:after {
        left: auto;
        right: -58px;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    .location-seattle .location-name:after {
        right: 3px;
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}
@media (min-width: 568px) and (max-width: 767px) {
    .location-map-lg .location-name {
        height: 36px;
        font-size: 20px;
        line-height: 36px;
    }
}
@media (max-width: 567px) {
    .location-map-lg .location {
        position: inherit;
        top: auto;
        bottom: auto;
        left: auto;
        right: auto;
        float: left;
        height: auto;
        width: 50%;
        margin-bottom: 8px;
        padding-left: 30px;
    }
    .location-map-lg .location:after,
    .location-map-lg .location:before {
        display: block;
        content: "";
        clear: both;
    }
    .location-map-lg .location-pin {
        position: absolute;
        left: 0;
        top: 4px;
        margin: 5px 10px 5px;
    }
    .location-map-lg .location .location-name {
        position: inherit;
        left: auto;
        right: auto;
        top: auto;
        bottom: auto;
        display: inline-block;
        background: transparent;
        color: #616366;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        -ms-box-shadow: none;
        -o-box-shadow: none;
        box-shadow: none;
    }
    .location-map-lg .location .location-name > span {
        position: inherit;
        left: auto;
        right: auto;
        top: auto;
        bottom: auto;
        display: inline-block;
        background: transparent;
        color: #616366;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        -ms-box-shadow: none;
        -o-box-shadow: none;
        box-shadow: none;
    }
    .location-map-lg .location-name:after {
        display: none;
    }
    .section-dark .location-map-lg .location .location-name span {
        color: #fff;
    }
}
.prices .box {
    border: 1px solid #dfedf0;
    margin-top: 35px;
    padding: 30px 30px;
}
.prices .box h3 {
    font-size: 18px;
    margin-top: 0px;
}
.prices .box .img {
    height: 120px;
    width: 118px;
    margin: 0 auto;
    position: relative;
    text-align: center;
}
.prices .box .img img {
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -30px;
}
.prices .box p {
    font-size: 20px;
    font-weight: 700;
    color: #233141;
}
.prices .box ul {
    list-style: none;
    padding: 0px;
}
.prices .box ul li {
    font-size: 16px;
    margin: 5px 0px;
}
.prices .box .btn {
    margin-top: 30px;
}
.home-top {
	padding-top: 20px;
	padding-bottom: 20px;
}
.home-top .box {
    border-right: 1px solid #EEE;
}
.home-top .box.noboard {
	border: 0;
}
.home-top .box:after {
	content: '';
	display: table;
	clear: both;
}
.home-top .icon,
.home-top .txt {
    float: left;
    vertical-align: middle;
}
.home-top .icon {
	display: block;
    width: 100px;
    height: 100px;
    transition: all .2s linear;
    background-size: 100%;
}
.home-top .icon1 {
    background-image: url('../img/topicon1.png');
}
.home-top .icon2 {
    background-image: url('../img/topicon2.png');
}
.home-top .icon3 {
    background-image: url('../img/topicon3.png');
}
.home-top .icon4 {
    background-image: url('../img/topicon4.png');
}
.home-top .txt {
	max-width: 50%;
    margin: 35px 0 0 15px;
}
.home-top h2  {
    font-size: 18px;
    color: #333;
    margin: 0;
    padding-bottom: 5px;
    transition: all .2s linear;
}
.home-top p {
    font-size: 16px;
    color: #666;
    word-break: break-all;
    white-space: normal;
    margin: 0;
}

footer {
	border: 0;
	background-color: #181818;
}
@media (max-width: 767px) {
	.nowhmcs .slider .hero h2 {
		font-size: 36px;
	}
	.nowhmcs .announcements ul {
		height: 20px;
		overflow: hidden;
	}
	.nowhmcs .announcements ul li {
		width: 100%;
	}
	.home-top .box {
		border-right: 0;
		padding: 0 50px;
		border-bottom: 1px solid #EEE;
	}
	.home-features .main svg {
		float: left;
		margin-right: 5px;
	}
	.locations {
	    padding-top: 40px;
	    padding-bottom: 40px;
	}
	.locations .empty_space {
		height: 0 !important;
	}
	.locations .btm {
	    clear: both;
	    padding-top: 20px;
	}
	.locations .btm .box {
		position: relative;
		width: 30%;
		margin: 0;
	}
	.locations .btm .box span {
		margin: 0;
	}
}
 